.parceiros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 20px;
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros li {
  border-left: 1px solid var(--cor-5);
  display: flex;
  padding: 40px 0px;
}

.parceiros img {
  margin: auto;
}

.parceiros li:nth-child(n + 5) {
  border-top: 1px solid var(--cor-5);
}

@media (max-width: 890px) {
  .parceiros {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 90px;
  }

  .parceiros li:nth-child(n + 3) {
    border-top: 1px solid var(--cor-5);
  }
}

@media (max-width: 450px) {
  .parceiros {
    grid-template-columns: 1fr;
    padding-bottom: 90px;
  }

  .parceiros li:nth-child(n + 2) {
    border-top: 1px solid var(--cor-5);
  }
}
