.titulo-intro {
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
  background: var(--cor-11);
}

.titulo-intro::after {
  content: url(img/dec/top-right.svg);
  position: absolute;
  right: 55px;
  top: 60px;
}
