.perguntas h3 {
  padding-top: 120px;
  padding-bottom: 40px;
}

.perguntas dl div {
  padding: 20px 40px;
}

.perguntas dt {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  margin-bottom: 20px;
  position: relative;
}

.perguntas dt::after {
  content: "";
  background: url(img/icones/seta-abrir.svg) no-repeat;
  height: 10px;
  width: 15px;
  display: inline-block;
  transition: 0.3s;
}

.perguntas dt:hover::after {
  transform: rotate(180deg);
}

.perguntas dt::before {
  content: "";
  height: 8px;
  width: 12px;
  background-color: var(--cor-p1);
  position: absolute;
  left: -20px;
  bottom: 7px;
}

.perguntas dd {
  max-width: 60%;
}

.perguntas dl div:nth-child(odd) {
  background: var(--cor-1);
}

.perguntas dl div:last-child {
  margin-bottom: 140px;
}

@media (max-width: 830px) {
  .perguntas dd {
    max-width: 90%;
  }

  .perguntas h3 {
    padding-top: 70px;
  }
}

@media (max-width: 600px) {
  .perguntas dt::after {
    display: none;
  }

  .perguntas dt::before {
    display: none;
  }

  .perguntas dl div {
    padding: 20px;
  }
}
