.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 40px 20px 140px 20px;
  margin: auto;
  max-width: 1300px;
}

.bicicletas img {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.bicicletas h3 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.bicicletas h3::before {
  content: "";
  background: var(--cor-p1);
  height: 8px;
  width: 12px;
  display: inline-block;
}

.bicicletas h3:hover::before {
  width: 24px;
  transition: 0.2s;
}
